<!-- -->
<launch>
<!-- 25.08.14 [BDS] -->
<arg name="run_dir"      default="/mnt/ssd512/slam_datasets/20250814_164424"/>

<node pkg="pcd2pgm" name="pcd2pgm" type="pcd2pgm" output="screen">
<!-- 存放pcd文件的路径-->
<!-- 25.08.14 [BDS] -->
<param name="file_directory" value="$(arg run_dir)/"/>

<!-- pcd文件名称-->
<param name="file_name" value= "result" />
<!-- 选取的范围　最小的高度-->

<!-- 25.08.18 [BDS] -->
<!-- <param name="thre_z_min" value= "-0.6" /> -->
<!-- <param name="thre_z_min" value= "0.1" /> -->
<param name="thre_z_min" value= "0.3" />
<!-- 选取的范围　最大的高度-->
<!-- 25.08.18 [BDS] -->
<!-- <param name="thre_z_max" value= "1.5" /> -->
<param name="thre_z_max" value= "1.2" /> <!-- max 천장 필터링 --> 

<!-- 选取高度范围内的，１选取高度范围外的-->
<param name="flag_pass_through" value= "0" />
<!-- 半径滤波的半径-->
<!-- 25.08.18 [BDS] -->
<!-- <param name="thre_radius" value= "0.5" /> -->
<param name="thre_radius" value= "0.2" /> <!-- max 동적 장애물 필터링 --> 
<!-- 半径滤波的要求点数个数-->
<!-- 25.08.18 [BDS] -->
<!-- <param name="thres_point_count" value= "10" /> -->
<param name="thres_point_count" value= "5" />
<!-- 存储的栅格map的分辨率-->
<param name="map_resolution" value= "0.05" />
<!-- 转换后发布的二维地图的topic，默认使用map即可，可使用map_server保存-->
<!-- 转换后发布的二维地图的topic，默认使用map即可，可使用map_server保存-->
<param name="map_topic_name" value= "map" />
</node>

</launch>