<launch>
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/livox/lidar_filter1"/>
        <remap from="scan" to="/scan_cloud"/>
        <rosparam>
            transform_tolerance: 0.01
            <!-- 25.08.20 [BDS] -->
            <!-- min_height: -0.2  -->
            <!-- 25.10.14 [BDS] -->
            min_height: -1.0
            <!-- min_height: -0.5 -->
            <!-- -0.5정도로 줄여보기 -->
            <!-- 장애물 높이 보완 생각하면서 줄여야함... -->

            <!-- 25.08.20 [BDS] -->
            <!-- max_height: 1.5 -->
            <!-- max_height: 1.2 -->
            <!-- 25.10.14 [BDS] -->
            <!-- max_height: 1.0 -->
            max_height: 0.5

            angle_min: -3.14159 # -M_PI/2
            angle_max: 3.14159 # M_PI/2
            angle_increment: 0.003 # M_PI/360.0
            <!-- TODO -->
            scan_time: 0.1
            <!-- scan_time: 0.05 -->
            range_min: 0.05
            range_max: 10000000.0
            use_inf: true
            inf_epsilon: 1.0
            
            concurrency_level: 1
        </rosparam>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="livox_tf"
      args="0 0 0.0 0 0 0 laser_frame livox_frame 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
      args="0 0 0.0 0 0 0 body laser_frame 100"/>  
</launch>